* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Tahoma, sans-serif;
   color: black;
   line-height: 1.5;
   height: 100vh;
   background: linear-gradient(#a800cd, #0bbbf3);
}

.main-content {
   padding: 1em;
}

.initial-content, .cards {
   padding-top: 10em;
   text-align: center;
   font-weight: bold;
}

.intro-text, .keycode-info {
   font-size: 2.4rem;
}

.card {
   padding: 1em;
}

/* ----- Media Queries ----- */

@media (min-width: 1000px) {
   .initial-content, .cards {
      padding-top: 0;
   }

   .intro-text, .keycode-info {
      font-size: 4rem;
   }

   .main-content, .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .event-cards {
      display: flex;
   }

   .card {
      font-size: 1.5rem;
      padding: 1em 5em;
   }

   
}